:root {
    --color-primary: #9046CF;
    --color-secondary: #FFF3F0;    
    --color-tertiary: #CC59D2;     
    --color-button: #F487B6;       
    --color-button-hover: #CC59D2;
    --color-text: #9046CF;         
    --color-white: #FFF3F0; 
    --font-primary: "Bungee", serif;
    --font-secondary: "Asap", sans-serif;       
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
}

.header-banner img {
    width: 300px;
    height: auto;
}

.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.main-title {
    font-family: var(--font-primary);
    font-size: 48px;
    font-weight: 900;
    font-style: italic;
    color: var(--color-white);
}

.section-title {
    font-family: var(--font-secondary);
    font-size: 36px;
    font-weight: 700;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
    border: 1px solid var(--color-tertiary);
    border-radius: 15px;
    overflow: hidden;
}

.input-name {
    background-color: var(--color-secondary);
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
}

.input-name::placeholder {
    color: var(--color-primary);
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    justify-content: center;
}

.cuadro-resultados {
    display: flex;                  
    justify-content: space-between; 
    align-items: center;
    gap: 20px;                      
    width: 100%;                    
    max-width: 600px;               
    margin: 20px auto;              
    padding: 20px;                 
    border: 1px solid var(--color-tertiary);
    border-radius: 15px;           
    background-color: var(--color-secondary);
}

.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border-right: none;
    font-family: var(--font-primary);
}

button {
    padding: 15px 30px;
    font-family: var(--font-secondary);
    font-size: 16px;
    cursor: pointer;
}

.btn-agregar {
    border: none;
    color: white;
    background-color: var(--color-button);
}

.btn-agregar:hover {
    background-color: var(--color-button-hover);
}

ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: var(--font-secondary);
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: var(--color-text);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.btn-sortear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px 40px;
    color: var(--color-white);
    border-radius: 15px;
    border: 1px solid var(--color-tertiary);
    background-color: var(--color-button);
    font-size: 16px;
}

.btn-sortear:hover {
    background-color: var(--color-button-hover);
}


.btn-resetear {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    padding: 20px 40px;
    color: var(--color-white);
    border-radius: 15px;
    border: 1px solid var(--color-tertiary);
    background-color: var(--color-button);
    font-size: 16px;
}

.btn-resetear:hover {
    background-color: var(--color-button-hover);
}
